@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #242333;
  font-family: 'Lato', sans-serif;
  color: white;
}

.container{
  width: 300px;
  margin: 50px auto;
  height: 300px;
}

.pick-a-movie-section{
  margin-bottom: 3rem;
}

.pick-a-movie-section select{
  border: 0;
  border-radius: 5px;
  font-size: 14;
  padding: 5px 15px 5px 15px ;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}


  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    background: #242333;
    font-family: sans-serif;
    color: white;
  }
  
  .container{
    width: 300px;
    margin: 200px auto;
    height: 300px;
  }
  
  .pick-a-movie-section{
    margin-bottom: 3rem;
  }
  
  .seat{
    /* background-color: white; */
    height: 13px;
    width: 15px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    display: inline-block;
    /* margin: 0 10px; */

  }
  .span{
    display: inline-block;
  }
  
  .seat-grey{
    background-color: #444451;
  }
  
  .selected{
    background-color: #6FEAF6;
  }
  
  .occupied{
    background-color: white;
  }
  
  .legend{
    background-color: #201F2D;
    width: 90%;
    height: 50px;
    color: #797983;
    text-align: center;
  }
  
  .legend .legend-content{
    padding-top: 1rem;
  }
  
  
  .screen{
    height: 80px;
    width: 205px;
    background-color: white;
    margin-left: 2rem;
    margin-top: 1rem;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px;
  }

.span{
  display: inline-block;
}

.seat-grey{
  background-color: #444451;
}

.selected{
  background-color: #6FEAF6;
}

.occupied{
  background-color: white;
}

.legend{
  background-color: #201F2D;
  width: 90%;
  height: 50px;
  color: #797983;
  text-align: center;
}

.legend .legend-content{
  padding-top: 1rem;
}

.screen{
  height: 80px;
  width: 205px;
  background-color: white;
  margin-left: 2rem;
  margin-top: 1rem;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px;
}

.row{
  display: grid inline-block;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
  /* margin: 10px 0; */
}

.seat-container{
  width: 80%;
  margin-left: 55px;
}

.seat:nth-of-type(2){
  margin-right: 10px;
}

.seat:nth-of-type(6){
 margin-right: 10px;
}

.seat-container .seat.seat-grey:hover{ 
  transform: scale(1.2);
  cursor: pointer;
}

.bottom{
  color: #6FEAF6;
}